.hero-wrapper {
  max-width: 100vw;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(255, 255, 255, 0))), url("../image/series-img/series-previews/xl/brekingbad/breakingbad04.png") no-repeat center center fixed;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%), url("../image/series-img/series-previews/xl/brekingbad/breakingbad04.png") no-repeat center center fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 80px;
}

@media only screen and (max-width: 650px) {
  .hero-wrapper {
    padding-top: 150px;
    padding-left: 20px;
  }
}

.hero-wrapper .information-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
  margin-top: 10px;
}

.hero-wrapper .information-content .serie-name {
  color: #FFFFFF;
  padding-bottom: 30px;
  font-size: 2rem;
}

.hero-wrapper .information-content .serie-logo {
  background: url("../image/series-img/series-previews/xl/brekingbad/breakingbadlogo.png");
  background-size: cover;
  width: 345px;
  height: 345px;
}

@media only screen and (max-width: 650px) {
  .hero-wrapper .information-content .serie-logo {
    display: none;
  }
}

.hero-wrapper .information-content .serie-info {
  margin-top: -20px;
  margin-bottom: 40px;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 650px) {
  .hero-wrapper .information-content .serie-info {
    max-width: 250px;
    margin-bottom: 10px;
  }
}

.hero-wrapper .information-content .serie-info .percent {
  color: #009c04;
}

@media only screen and (max-width: 650px) {
  .hero-wrapper .information-content .serie-info .percent {
    display: none;
  }
}

.hero-wrapper .information-content .serie-info .year {
  color: white;
}

.hero-wrapper .information-content .serie-info .age {
  color: white;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 3px 12px;
}

.hero-wrapper .information-content .serie-info .seasons {
  color: white;
  font-weight: bold;
}

.hero-wrapper .information-content .video-category {
  font-weight: 700;
  font-size: 1.75rem;
  color: #ffffff;
}

.hero-wrapper .information-content .video-title {
  font-weight: 700;
  font-size: 7.5rem;
  color: #ffffff;
}

.hero-wrapper .information-content .control-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.hero-wrapper .information-content .control-wrapper .control-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  background: rgba(157, 151, 151, 0.5);
  color: #ffffff;
  border-radius: 10px;
  width: 200px;
  max-width: 200px;
  height: 65px;
  margin-right: 35px;
  font-size: 1.3rem;
}

@media only screen and (max-width: 650px) {
  .hero-wrapper .information-content .control-wrapper .control-button {
    width: 130px;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .hero-wrapper .information-content .control-wrapper .control-button.list {
    display: none;
  }
}

.hero-wrapper .information-content .control-wrapper .control-button.play {
  background-color: red;
}

.hero-wrapper .information-content .control-wrapper .btn {
  border: 2px solid grey;
  background: transparent;
  border-radius: 100%;
  padding: 10px 12px;
  font-size: 36px;
  color: grey;
  outline: unset;
}

.hero-wrapper .information-content .control-wrapper .btn.like {
  margin-right: 15px;
}

@media only screen and (max-width: 650px) {
  .hero-wrapper .information-content .control-wrapper .btn {
    display: none;
  }
}

.hero-wrapper .information-content .video-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  margin: 30px 0px;
}

@media only screen and (max-width: 650px) {
  .hero-wrapper .information-content .video-info {
    display: none;
  }
}

.hero-wrapper .information-content .video-info .info-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.hero-wrapper .information-content .video-info .info-praragraph {
  font-size: 1.5rem;
}
/*# sourceMappingURL=serie.css.map */